html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  color: black;
  padding: 0;
  margin: 0;
}

body {
  background-color: $gray;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1400px;
}

ul {
  padding-left: 0;
  list-style: none;
}

.error {
  color: $red;
}

.relative {
  position: relative;
}

.disabled {
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: white;
    opacity: 0.5;
  }
}
