/* Colors
----------------------------------------*/
$primary: #1b237e;
$primary-light: #232fa9;
$primary-dark: #111755;
$gray: #e1e1e1;
$gray-light: #e1e1e1;
$red: #d32f2f;

/* Misk
----------------------------------------*/
$border-radius: 20px;
