.stock {
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__body {
    border-top-right-radius: $border-radius;
    overflow: hidden;
  }

  .table {
    .row:last-child {
      border-bottom: 0;
    }
  }

  .button__default {
    display: inline-block;
    margin-left: auto;
  }

  .tabs {
    margin-top: 50px;
  }

  .pagination {
    justify-content: center;
  }
}
