.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .button {
    margin-top: 50px;

    svg {
      margin-left: 6px;
    }
  }

  &__error {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: -19px;
    text-align: center;
    width: 100%;
  }
}
